<!DOCTYPE html>
<html lang="en">

<head>

  <!---------------------- Start - Initialization ---------------------->

  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" href="../../assets/img/favicon.png">
  <title>La Porte du Hainaut | Culture</title>
    
  <!---------------------- End - Initialization ---------------------->
  
  <!---------------------- Start - Tools ---------------------->
  
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../../assets/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <!---------------------- End - Tools ---------------------->

  <!---------------------- Start - Google Fonts ---------------------->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  
  <!---------------------- End - Google Fonts ---------------------->

</head>

<body>

  <!---------------------------------------------------- START ---------------------------------------------------->
  
  <!---------------------- Start - Header ---------------------->

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      
      <h1 class="logo me-auto"><a href="../../../index.html"><img id="logoNavbar" src="../../assets/img/favicon.png" alt=""></a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="../../../index.html">Accueil</a></li>
          <li class="dropdown"><a href="#"><span>L'Actualité</span></a>
            <ul>
              <li><a href="../../components/news/news.html" class="scrollto">Actualités</a></li>
              <li><a href="../../components/news/calendar.html" class="scrollto">Agenda</a></li>
              <li><a href="../../components/news/publications.html">Publications</a></li>
              <li><a href="../../components/news/videos.html">Vidéos</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Le Territoire</span></a>
            <ul>
              <li><a href="https://porte-du-hainaut.carte-interactive.net" target="_blank">Carte Géographique</a></li>
              <li><a href="../../components/territory/towns.html">Communes</a></li>
              <li><a href="../../components/territory/history.html">Histoire</a></li>
              <li><a href="../../components/territory/heritage.html">Patrimoine</a></li>
              <li><a href="../../components/territory/geographic-location.html">Situation Géographique</a></li>
              <li><a href="../../components/territory/terroir.html">Terroir</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>L'Institution</span></a>
            <ul>
              <li><a href="../../components/institution/administration.html">Administration</a></li>
              <li><a href="../../components/institution/elects.html">Élus</a></li>
              <li><a href="../../components/institution/useful-numbers.html">Numéros Utiles</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span class="active">Le Quotidien</span></a>
            <ul>
              <li><a href="#main">Culture</a></li>
              <li><a href="../../components/daily/sport.html">Sport</a></li>
            </ul>
          </li>          
          <li><a class="nav-link" href="../../components/contact/contact.html">Contact</a></li>
        </ul>
        <i class="menu mobile-nav-toggle"></i>
      </nav>
      
    </div>
  </header>
  
  <!---------------------- End - Header ---------------------->
  
  <!---------------------- Start - Hero Section ---------------------->

  <section id="header-image" class="header-culture" data-aos="fade-in" class="d-flex align-items-center">
      <h1>Le Quotidien.</h1>
  </section>
  
  <!---------------------- End - Hero Section ---------------------->
  
  <div class="section-bg">
    <main id="main" data-aos="fade-up">
      
      <!---------------------- Start - "Culture" Section ---------------------->

      <section>
        <div class="container">
          
          <div class="section-title">
            <h2>Culture</h2>
            <p>Explorez notre scène culturelle : musées, théâtres, spectacles et bibliothèque.</p>
          </div>
          
          <div class="row paragraph illustration">
            <p>
              Afin de faciliter l'accès de tous ses habitants à une offre de qualité dans le domaine de <b>la lecture publique</b>, la Porte du Hainaut s'est engagée depuis sa création dans une politique volontariste en la matière par :<br><br>
              - La <b>création et l'animation d'un réseau rassemblant les 10 médiathèques déclarées d'intérêt</b> communautaire du territoire autour d'une carte unique, d'un catalogue partagé et d'un protail numérique commun permettant l'accès aux informations suivantes : contacts, horaires, coordonnées, renseignements sur les modalités d'adhésion - à tarification résolument sociale - et sur les programmes d'animations.<br>
              - Le <b>soutien aux 27 autres lieux du territoire consacrés à la lecture publique</b> (21 bibliothèques municipales, associatives et points lecture et 6 médiathèques fonctionnant en réseau sur la Vallée de la Scarpe) notamment par le biais de la programmation d'animations gratuites et accessibles à tous.<br>
              - La <b>création et la mise en œuvre d'une partothèque</b> (service de prêt gratuit de plus de 1500 partitions aux harmonies, chorales et fanfares référencées sur le territoire communautaire), accueillie au sein de la Médiathèque communautaire de l'Ostrevant à Bouchain.<br>
              - La <b>mise en œuvre de formations gratuites et ciblées</b> à destination des professionnels et bénévoles de la Lecture publique du territoire.<br>
              - La <b>création et la diffusion d'outils d'animation thématiques</b> en direction des structures dédiées à la Lecture publique sur le territoire.
            </p>
            <img src="../../assets/img/daily/mph.png" alt="mph">
            <p>
              Le <b>Centre Régional de la Photographie</b> de Douchy-les-Mines vous accueille toute l'année pour des visites ou des ateliers autour de la photographie et de l'image contemporaine. Il se positionne comme un lieu de ressource en matière de recherche et d'éducation à l'image, à travers son centre de documentation ouvert à tous et la co-construction de projets avec les publics.
            </p>
            <img src="../../assets/img/daily/crp.png" alt="crp">
            <p>
              Les <b>Scènes plurielles</b> proposent aux habitants de découvrir différents univers artistiques par le biais d'une programmation itinérante de spectacles sur l'ensemble du territoire principalement dans des lieux non dédiés au spectacle vivant (salle des fêtes, salle polyvalente, salle des sports, halle couverte) mais aussi dans les cinq salles de spectacle présentes sur le territoire.
              Danse, cirque, théâtre et musique investissent tous les territoires de notre communauté d'agglomération.<br><br>
              Le <b>CLÉA</b>, qu'est-ce que c'est ?<br><br>
              Au côté de la DRAC - Direction Régionale des Affaires Culturelles - des Hauts-de- France, du Département du Nord et de l'Éducation Nationale, La Porte du Hainaut coordonne le dispositif <a href="https://www.calameo.com/books/004801791222d464f7e7c" target="_blank">Contrat Local D'Éducation Artistique</a> (CLÉA) sur son territoire. Dans ce cadre, elle a accueilli depuis 2015, 3 artistes en résidence chaque année afin qu'ils partagent leur univers artistique et créatif avec les habitants.
            </p>
            <img src="../../assets/img/daily/sp.png" alt="sp">
            <p>
              Chaque année, plusieurs <b>manifestations culturelles ou sportives</b> sont organisées sur le territoire de La Porte du Hainaut. Vous pouvez consulter les sites de l'<a href="https://www.tourisme-porteduhainaut.com/preparer/agenda">Office de Tourisme</a> et d'<a href="https://www.arenberg-minecreative.fr/">Arenberg Creative Mine</a> pour les découvrir.
            </p>
            <img src="../../assets/img/daily/manif.png" alt="manif">
            <p>
              L'ensemble de ces activités culturelles et sportives crée <b>une atmosphère dynamique et conviviale</b> qui contribue à renforcer le lien social au sein de La Porte du Hainaut, offrant ainsi à ses habitants et visiteurs une expérience enrichissante et mémorable.
            </p>
          </div>
  
        </div>
      </section>
      
      <!---------------------- End - "Culture" Section ---------------------->
      
    </main>
  </div>
  
  <!---------------------- Start - Footer Section ---------------------->

  <footer id="footer">
    
    <div class="footer-top">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><img src="../../assets/img/favicon.png" width="30%" alt=""></h3>
            <p>
              Av. Michel Rondet<br>
              59135 Wallers-Arenberg<br>
              Hauts-de-France, France<br><br>
              <strong>Téléphone :</strong> 03 27 09 05 05<br>
              <strong>Email :</strong> contact@agglo-porteduhainaut.fr<br>
            </p>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens Utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="../../../index.html">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.agglo-porteduhainaut.fr/mentions-legales">Mentions Légales</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../institution/useful-numbers.html">Numéros Utiles</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../sitemap/site-map.html">Plan du Site</a></li>
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Communauté D'Agglomération</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.agence-porteduhainaut.com/">Agence de Développement</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.arenberg-minecreative.fr/">Arenberg</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.tourisme-porteduhainaut.com">Office de Tourisme</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.mediatheques-porteduhainaut.fr">Réseau de Lecture Publique</a></li>
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Réseaux Sociaux</h4>
            <p>Suivez nos actualités et ne manquez rien.</p>
            <div class="social-links mt-3">
              <a href="https://www.linkedin.com/company/la-porte-du-hainaut" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
              <a href="https://www.instagram.com/laporteduhainaut" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
              <a href="https://twitter.com/PorteduHainaut" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/LaPorteduHainaut" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.youtube.com/@AggloporteduhainautFr" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright 2023 <strong><span>LoGrandCode</span></strong>. Tous droits réservés.
      </div>
    </div>
    
  </footer>
  
  <!---------------------- End - Footer Section ---------------------->
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <!-- vendor js Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../assets/vendor/waypoints/noframework.waypoints.js"></script>
  
  <!-- main.js File -->
  <script src="../../assets/js/main.js"></script>
  
  <!---------------------------------------------------- END ---------------------------------------------------->
  
</body>

</html>