<!DOCTYPE html>
<html lang="en">

<head>

  <!---------------------- Start - Initialization ---------------------->

  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" href="../../assets/img/favicon.png">
  <title>La Porte du Hainaut | Communes</title>
    
  <!---------------------- End - Initialization ---------------------->
  
  <!---------------------- Start - Tools ---------------------->
  
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../../assets/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <!---------------------- End - Tools ---------------------->

  <!---------------------- Start - Google Fonts ---------------------->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  
  <!---------------------- End - Google Fonts ---------------------->

</head>

<body>

  <!---------------------------------------------------- START ---------------------------------------------------->
  
  <!---------------------- Start - Header ---------------------->

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      
      <h1 class="logo me-auto"><a href="../../../index.html"><img id="logoNavbar" src="../../assets/img/favicon.png" alt=""></a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="../../../index.html">Accueil</a></li>
          <li class="dropdown"><a href="#"><span>L'Actualité</span></a>
            <ul>
              <li><a href="../../components/news/news.html" class="scrollto">Actualités</a></li>
              <li><a href="../../components/news/calendar.html" class="scrollto">Agenda</a></li>
              <li><a href="../../components/news/publications.html">Publications</a></li>
              <li><a href="../../components/news/videos.html">Vidéos</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span class="active">Le Territoire</span></a>
            <ul>
              <li><a href="https://porte-du-hainaut.carte-interactive.net" target="_blank">Carte Géographique</a></li>
              <li><a href="#main">Communes</a></li>
              <li><a href="../../components/territory/history.html">Histoire</a></li>
              <li><a href="../../components/territory/heritage.html">Patrimoine</a></li>
              <li><a href="../../components/territory/geographic-location.html">Situation Géographique</a></li>
              <li><a href="../../components/territory/terroir.html">Terroir</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>L'Institution</span></a>
            <ul>
              <li><a href="../../components/institution/administration.html">Administration</a></li>
              <li><a href="../../components/institution/elects.html">Élus</a></li>
              <li><a href="../../components/institution/useful-numbers.html">Numéros Utiles</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Le Quotidien</span></a>
            <ul>
              <li><a href="../../components/daily/culture.html">Culture</a></li>
              <li><a href="../../components/daily/sport.html">Sport</a></li>
            </ul>
          </li>          
          <li><a class="nav-link" href="../../components/contact/contact.html">Contact</a></li>
        </ul>
        <i class="menu mobile-nav-toggle"></i>
      </nav>
      
    </div>
  </header>
  
  <!---------------------- End - Header ---------------------->
  
  <!---------------------- Start - Hero Section ---------------------->

  <section id="header-image" class="header-towns" data-aos="fade-in" class="d-flex align-items-center">
    <h1>Le Territoire.</h1>
  </section>
  
  <!---------------------- End - Hero Section ---------------------->
  
  <div class="section-bg">
    <main id="main" data-aos="fade-up">
      
      <!---------------------- Start - "Communes" Section ---------------------->

      <section class="numbers">
        <div class="container">
          
          <div class="section-title">
            <h2>Communes</h2>
            <p>Découvrez nos charmantes communes locales.</p>
          </div>
          
          <div class="row paragraph illustration">
          <p>
            Le territoire de La Porte du Hainaut est réparti sur trois secteurs géographiques.
            Pour voir la <b>carte de l'emplacement de chaque Hôtel de Ville</b> du territoire de La Porte du Hainaut, <a href="https://porte-du-hainaut.carte-interactive.net/#/c-226/mairies" target="_blank">cliquez ici</a>.
          </p>
          <img src="../../assets/img/territory/towns1.png" alt="towns">
          </div>
          
          <div class="numbers-list">
            <ul>  
              <li data-aos="fade-up">
                <i class="bx bx-buildings icon"></i> <a data-bs-toggle="collapse" data-bs-target="#numbers-list-1" class="collapsed">L'Amandinois<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="numbers-list-1" class="collapse" data-bs-parent=".numbers-list">
                  <div class="numbers-form">
                    <p>
                      Ce secteur est marqué par le <b>phénomène de périurbanisation</b> avec l'installation de nombreux habitants originaires de la métropole lilloise et allant travailler à Lille.
                      La proximité de l'A23 y est pour beaucoup ainsi que le <b>cadre de vie particulièrement accueillant</b> avec une nature préservée. Il se compose des communes de :
                    </p>
                    <p>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/bousignies">Bousignies</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/brillon">Brillon</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/bruille-saint-amand">Bruille-Saint-Amand</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/chateau-l-abbaye">Château-l'Abbaye</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/escautpont">Escautpont</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/flines-lez-mortagne">Flines-lez-Mortagne</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/hasnon">Hasnon</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/lecelles">Lecelles</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/maulde">Maulde</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/millonfosse">Millonfosse</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/mortagne-du-nord">Mortagne-du-Nord</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/nivelle">Nivelle</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/raismes">Raismes</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/rosult">Rosult</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/rumegies">Rumegies</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/saint-amand-les-eaux">Saint-Amand-les-Eaux</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/sars-et-rosieres">Sars-et-Rosières</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/thun-saint-amand">Thun-Saint-Amand</a>
                    </p>
                  </div>
                </div>
              </li>

              <li data-aos="fade-up">
                <i class="bx bx-buildings icon"></i> <a data-bs-toggle="collapse" data-bs-target="#numbers-list-2" class="collapsed">Le Denaisis<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="numbers-list-2" class="collapse" data-bs-parent=".numbers-list">
                  <div class="numbers-form">
                    <p>
                      Ce territoire est en plein renouveau.
                      Marqué par <b>un passé minier et sidérurgique florissant</b>, le Denaisis relève aujourd'hui la tête et, fort de cette histoire, se tourne vers un futur plus radieux.
                      Il se compose des communes de :
                    </p>
                    <p>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/bellaing">Bellaing</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/denain">Denain</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/escaudain">Escaudain</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/douchy-les-mines">Douchy-les-Mines</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/haulchin">Haulchin</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/haveluy">Haveluy</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/helesmes">Hélesmes</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/herin">Hérin</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/la-sentinelle">La Sentinelle</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/lourches">Lourches</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/oisy">Oisy</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/thiant">Thiant</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/trith-saint-leger">Trith-Saint-Léger</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/wavrechain-sous-denain">Wavrechain-sous-Denain</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/wallers-arenberg">Wallers-Arenberg</a>
                    </p>
                  </div>
                </div>
              </li>
  
              <li data-aos="fade-up">
                <i class="bx bx-buildings icon"></i> <a data-bs-toggle="collapse" data-bs-target="#numbers-list-3" class="collapsed">L'Ostrevant<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="numbers-list-3" class="collapse" data-bs-parent=".numbers-list">
                  <div class="numbers-form">
                    <p>
                      Ce territoire rural, maillé de petites communes, est le lieu d'implantation du <b>Parc d'activités Jean Monnet et de Sevelnord</b> au coeur d'un territoire verdoyant autour de Bouchain, ville fortifiée et du Bassin Rond, lien vers le Cambrésis.
                      Il se compose des communes de :</p>
                    <p>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/avesnes-le-sec">Avesnes-le-Sec</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/abscon">Abscon</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/bouchain">Bouchain</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/haspres">Haspres</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/hordain">Hordain</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/lieu-saint-amand">Lieu-Saint-Amand</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/marquette-en-ostrevant">Marquette-en-Ostrevant</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/mastaing">Mastaing</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/neuville-sur-escaut">Neuville-sur-Escaut</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/noyelles-sur-selle">Noyelles-sur-Selle</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/roeulx">Rœulx</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/wasnes-au-bac">Wasnes-au-Bac</a><br>
                      - <a href="https://www.agglo-porteduhainaut.fr/le-territoire/les-communes/wavrechain-sous-faulx">Wavrechain-sous-Faulx</a>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          
        </div>
      </section>
      
      <!---------------------- End - "Communes" Section ---------------------->
      
    </main>
  </div>
  
  <!---------------------- Start - Footer Section ---------------------->

  <footer id="footer">
    
    <div class="footer-top">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><img src="../../assets/img/favicon.png" width="30%" alt=""></h3>
            <p>
              Av. Michel Rondet<br>
              59135 Wallers-Arenberg<br>
              Hauts-de-France, France<br><br>
              <strong>Téléphone :</strong> 03 27 09 05 05<br>
              <strong>Email :</strong> contact@agglo-porteduhainaut.fr<br>
            </p>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens Utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="../../../index.html">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.agglo-porteduhainaut.fr/mentions-legales">Mentions Légales</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../institution/useful-numbers.html">Numéros Utiles</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../sitemap/site-map.html">Plan du Site</a></li>
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Communauté D'Agglomération</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.agence-porteduhainaut.com/">Agence de Développement</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.arenberg-minecreative.fr/">Arenberg</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.tourisme-porteduhainaut.com">Office de Tourisme</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.mediatheques-porteduhainaut.fr">Réseau de Lecture Publique</a></li>
            </ul>
          </div>
          
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Réseaux Sociaux</h4>
            <p>Suivez nos actualités et ne manquez rien.</p>
            <div class="social-links mt-3">
              <a href="https://www.linkedin.com/company/la-porte-du-hainaut" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
              <a href="https://www.instagram.com/laporteduhainaut" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
              <a href="https://twitter.com/PorteduHainaut" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/LaPorteduHainaut" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.youtube.com/@AggloporteduhainautFr" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright 2023 <strong><span>LoGrandCode</span></strong>. Tous droits réservés.
      </div>
    </div>
    
  </footer>
  
  <!---------------------- End - Footer Section ---------------------->
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <!-- vendor js Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  
  <!-- main.js File -->
  <script src="../../assets/js/main.js"></script>
  
  <!---------------------------------------------------- END ---------------------------------------------------->
  
</body>

</html>